<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title></title>
  
  
  
  <link rel="stylesheet" href="https://d10ajoocuyu32n.cloudfront.net/mobile/1.3.1/jquery.mobile-1.3.1.min.css">
  
  <!-- Extra Codiqa features -->
  <link rel="stylesheet" href="codiqa.ext.css">
  
  <!-- jQuery and jQuery Mobile -->
  <script src="https://d10ajoocuyu32n.cloudfront.net/jquery-1.9.1.min.js"></script>
  <script src="https://d10ajoocuyu32n.cloudfront.net/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>

  <!-- Extra Codiqa features -->
  <script src="https://d10ajoocuyu32n.cloudfront.net/codiqa.ext.js"></script>
   
</head>
<body>
<!-- Home -->
<div data-role="page" id="page1">
    <div data-theme="a" data-role="header">
        <h3>
            YM Bugger
        </h3>
    </div>
    <div data-role="content">
        <form method="post" action="/proc_sign_up">
            <div data-role="fieldcontain">
                <label for="textinput1">
                    Name
                </label>
                <input id="name" name="name" id="textinput1" placeholder="" value="" type="text">
            </div>
            <div data-role="fieldcontain">
                <label for="textinput2">
                    Password
                </label>
                <input name="password" id="password1" placeholder="" value="" type="password">
            </div>
            <div data-role="fieldcontain">
                <label for="textinput3">
                    Verify Password
                </label>
                <input name="" id="password2" placeholder="" value="" type="password">
            </div>
            <div data-role="fieldcontain">
                <label for="textinput7">
                    Email
                </label>
                <input id="email" name="email" id="textinput7" placeholder="" value="" type="text">
                <a id="checkEmail" href="#" data-role="button" data-icon="check" data-inline="true">이메일 중복 확인</a>
            </div>
            <div data-role="fieldcontain">
                <label for="textinput9">
                    Phone Number
                </label>
                <input id="phone" name="phone" id="textinput9" placeholder="" value="" type="text">
            </div>
            <div data-role="fieldcontain">
                <label for="textarea2">
                    Address(Dong name)
                </label>
                <input id="address" name="address" id="textinput7" placeholder="" value="" type="text">
                <a id="checkAddress" href="#" data-role="button" data-icon="check" data-inline="true">동이름 확인</a>
            </div>
            <input type="submit" value="Sign-Up">
        </form>
    </div>
    <div data-theme="a" data-role="footer" data-position="fixed">
        <h3>
            Sign-Up
        </h3>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
$(function(){
	var checkEmailOk = false;
	
	$("form").submit(function(){
		if(!$("#name").val()){
			alert("이름을 입력하세요.");
			return false;
		}
		
		if(!$("#password1").val()){
			alert("암호를 입력하세요.");
			return false;
		}
		
		if($("#password1").val() != $("#password2").val()){
			alert("입력한 암호와 재확인 암호가 같지 않습니다.");
			return false;
		}			
		
		if(!checkEmailOk){
			alert("이메일 중복 테스트를 하시기 바랍니다.");
			return false;
		}			
			
	});
	
	$("#checkEmail").click(function(e){
		e.preventDefault(); //link disable

		// 여기에서 ajax 호출 
		$.get("/check_email?email=" + $("#email").val(), function( data ) {
			if(data == "false")
			{
				checkEmailOk = true;
                		alert("사용가능한 주소입니다.");
			}
			else
				alert("중복된 이메일이 있습니다.");
		});
	});
	
});
</script>
