<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title></title>
  
  
  
  <link rel="stylesheet" href="https://d10ajoocuyu32n.cloudfront.net/mobile/1.3.1/jquery.mobile-1.3.1.min.css">
  
  <!-- Extra Codiqa features -->
  <link rel="stylesheet" href="codiqa.ext.css">
  
  <!-- jQuery and jQuery Mobile -->
  <script src="https://d10ajoocuyu32n.cloudfront.net/jquery-1.9.1.min.js"></script>
  <script src="https://d10ajoocuyu32n.cloudfront.net/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>

  <!-- Extra Codiqa features -->
  <script src="https://d10ajoocuyu32n.cloudfront.net/codiqa.ext.js"></script>
   
</head>
<body>
<!-- Home -->
<div data-role="page" id="page1">
    <div data-theme="a" data-role="header">
        <h3>
            영만 버거
        </h3>
    </div>
    <div data-role="content">
        <form action="">
            <div data-role="fieldcontain">
                <label for="textinput1">
                    아이디
                </label>
                <input name="" id="textinput1" placeholder="" value="" type="text">
            </div>
            <div data-role="fieldcontain">
                <label for="textinput2">
                    패스워드
                </label>
                <input name="" id="textinput2" placeholder="" value="" type="text">
            </div>
            <div data-role="fieldcontain">
                <label for="textinput3">
                    패스워드 확인
                </label>
                <input name="" id="textinput3" placeholder="" value="" type="text">
            </div>
            <div data-role="fieldcontain">
                <label for="textinput7">
                    이메일
                </label>
                <input name="" id="textinput7" placeholder="" value="" type="text">
            </div>
            <div data-role="fieldcontain">
                <label for="textarea2">
                    주소
                </label>
                <textarea name="" id="textarea2" placeholder=""></textarea>
            </div>
            <input type="submit" data-theme="b" value="주소입력">
            <div data-role="fieldcontain">
                <fieldset data-role="controlgroup" data-type="vertical">
                    <legend>
                        성별
                    </legend>
                    <input id="radio2" name="sex" value="radio1" type="radio">
                    <label for="radio2">
                        남성
                    </label>
                    <input id="radio3" name="sex" value="radio3" type="radio">
                    <label for="radio3">
                        여성
                    </label>
                </fieldset>
            </div>
            <input type="submit" value="Sign-Up">
        </form>
    </div>
    <div data-theme="a" data-role="footer" data-position="fixed">
        <h3>
            Sign-Up
        </h3>
    </div>
</div>
</body>
</html>
